<h1><%= @created_team.name %></h1>
<h3>Team Motto: <%= @created_team.motto %></h3>

<h2>Hero Name: <%= @heroes[0].name %></h2>
<p>Hero Power: <%= @heroes[0].power %></p>
<p>Hero Biography: <%= @heroes[0].bio %></p>

<h2>Hero Name: <%= @heroes[1].name %></h2>
<p>Hero Power: <%= @heroes[1].power %></p>
<p>Hero Biography: <%= @heroes[1].bio %></p>

<h2>Hero Name: <%= @heroes[2].name %></h2>
<p>Hero Power: <%= @heroes[2].power %></p>
<p>Hero Biography: <%= @heroes[2].bio %></p>
